[package]
name = "shengji"
version = "0.1.0"
authors = ["Robert Ying <rbtying@aeturnalus.com>"]
edition = "2018"
build = "build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]
default = []
dynamic = ["slog-term"]

[dependencies]
anyhow = "1.0"
shengji-types = { path = "./backend-types" }
futures = { version = "0.3" }
lazy_static = "1.4.0"
phf = "0.8.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
shengji-core = { path = "../core" }
slog = "2.5"
slog-async = "2.5"
slog-bunyan = "2.2"
slog-term = { version = "2.5", optional = true }
static_dir = "0.1.3"
tokio = { version = "0.2", features = ["macros", "fs", "time"] }
warp = "0.2"
zstd = "0.5"

[build-dependencies]
vergen = "3"
