name: CI
on:
  - push
  - pull_request

jobs:
  build-and-test:
    name: "Build and test the code"
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Yarn deps for frontend
        run: yarn install
        working-directory: ./frontend

      - name: Install wasm-pack
        uses: jetli/wasm-pack-action@v0.4.0
        with:
          version: 'latest'

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Cache cargo build
        uses: Swatinem/rust-cache@v2

      - name: Build frontend
        run: yarn build
        working-directory: ./frontend

      - name: Test frontend
        run: yarn test
        working-directory: ./frontend

      - name: Lint frontend
        run: yarn lint
        working-directory: ./frontend

      - name: Check frontend formatting
        run: yarn prettier --check
        working-directory: ./frontend
      - name: Lint Rust code
        run: cargo clippy

      - name: Check Rust formatting
        run: cargo fmt --all -- --check

      - name: Test Rust code
        run: cargo test --all
