name: CI
on:
  - push
  - pull_request

jobs:
  build-and-test:
    name: "Build and test the code"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Yarn deps for frontend
        run: yarn install
        working-directory: ./frontend

      - name: Install wasm-pack
        uses: jetli/wasm-pack-action@v0.3.0
        with:
          version: 'latest'

      - name: Build frontend
        run: yarn build
        working-directory: ./frontend

      - name: Test frontend
        run: yarn test
        working-directory: ./frontend

      - name: Lint frontend
        run: yarn lint
        working-directory: ./frontend

      - name: Check frontend formatting
        run: yarn prettier --check
        working-directory: ./frontend

      - name: Setup Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Cache cargo build
        uses: actions/cache@v2.1.6
        with:
          path: target
          key: ${{ runner.os }}-cargo-build-target-debug-${{ hashFiles('**/Cargo.lock') }}

      - name: Lint Rust code
        uses: actions-rs/cargo@v1
        with:
          command: clippy

      - name: Check Rust formatting
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      - name: Test Rust code
        uses: actions-rs/cargo@v1
        with:
          command: test
